WCF/WcfBankProject (1)/WcfBankProject/Account/Connected Services/ServiceReferenceAccount/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBankProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBankProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" type="xs:int" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CheqFacil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accounts" nillable="true" type="tns:Accounts" />
</xs:schema>